.holder{
    display: grid;
    grid-template-columns: repeat(4,1);
    grid-gap: 10px;
}

.daniel-card{
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: hsl(263, 55%, 52%);

}