.daniel-text{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-weight: bold;
    font-size: 13px;
}
.daniel-text2{
    font-size: 13;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: white;
    opacity: 0.5;
    text-align: center;
    font-weight: 400;
    font-style: bold;
}

.profile-img{
    float: left;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid hsl(0, 0%, 100%);
    margin-right: 20px;
}

.holder{
    display: grid;
    grid-template-columns: repeat(4,1);
    grid-gap: 10px;
}

.daniel-card{
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 81%);
    grid-column: 1/3;
    grid-row: 3;

}